#Heading{
    font-size: xx-large;
    margin:auto;
}

#Notice{
    font-size: large;
    aligment:center;
    margin:auto;
}

body{
    background: azure;
}

form{
    align-items: center;
    margin: auto;
}
