/* Style the list items */
#introduction{
	text-align:center;
    background-color: #eeeeee;
}

#to_do_form{
	text-align:center;
    background-color: beige;
}

div.content{
    float: left;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 12px;
    transition: 0.2s;
    margin:auto;
    width:25%;
}

li{
    margin:15px;
    text-align: center;
}


h2{
    background-color: azure;
    text-align: center;
}
